@import url("https://fonts.googleapis.com/css2?family=Geist:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

:root {
  --bg-color: #000000;
  --card-bg: #161618;
  --primary-border: rgba(56, 189, 248, 0.149);
  --text-main: #f4f4f5;
  --text-muted: #cacaca;
  --accent: #38bdf8;

  --header-bg: rgb(27, 27, 29);
  --header-height: 7vh;
}

body {
  color: #f4f4f5;
  font-family: "Geist", "Inter", "ui-sans-serif", "system-ui";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
section {
  min-height: calc(100vh - var(--header-height));
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-bottom: 1px solid white;
}

.title,
.subtitle {
  font-weight: 800;
  letter-spacing: -0.05em;
  line-height: 1.1;
}
p {
  letter-spacing: -0.01em;
}

.aboutMeBg {
  background-color: var(--bg-color);
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1h22v22H1z' fill='none' stroke='none'/%3E%3Ccircle cx='1' cy='1' r='1' fill='%231f1f1f'/%3E%3C/svg%3E");
  background-position: center;
}

.primaryButton {
  font-family: (var(--font-body));
  font-weight: 600;
  font-size: 1.125rem;
  background-color: white;
  color: black;
  padding-inline: 4rem;
  padding-block: 0.5rem;
  border-radius: 50px;
  transition: all 200ms ease;
}

.primaryButton:hover {
  background-color: #cacaca;
  transform: scale(1.03);
}
.primaryButton:active {
  transform: scale(0.95);
}

.contactFormInput {
  border: 1px solid rgba(74, 72, 72, 0.698);
  background: linear-gradient(180deg, #09090b 0%, #18181b 100%);
  width: 500px;
  resize: none;
  padding-inline: 30px;
  padding-block: 10px;
  border-radius: 10px;
}
.contactFormInput:focus{
  border: 1px solid white;
  outline: none;
}