@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --bg-color: #212122;
  --card-bg: #161618;
  --primary-border: rgba(56, 189, 248, 0.149);
  --text-main: #f4f4f5;
  --text-muted: #cacaca;
  --accent: #38bdf8;

  --header-bg: rgb(27, 27, 29);
  --header-height: 7vh;
  color: #f4f4f5;

  --font-titles: "Montserrat", sans-serif;
  --font-body: "Roboto", sans-serif;
}

section {
  min-height: calc(100vh - var(--header-height));
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: (var(--font-titles));
  font-weight: 700;
}

.subtitle {
  font-family: (var(--font-body));
  font-weight: 700;
}