@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

:root {
  --bg-color: #000000;
  --card-bg: #161618;
  --primary-border: rgba(56, 189, 248, 0.149);
  --text-main: #f4f4f5;
  --text-muted: #cacaca;
  --accent: #38bdf8;

  --header-bg: rgb(27, 27, 29);
  --header-height: 7vh;
  color: #f4f4f5;

  --font-titles: "Montserrat", sans-serif;
  --font-body: "Roboto", sans-serif;
}

section {
  min-height: calc(100vh - var(--header-height));
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-bottom: 1px solid white;
}

.title {
  font-family: (var(--font-titles));
  font-weight: 700;
}

.subtitle {
  font-family: (var(--font-body));
  font-weight: 700;
}

.aboutMeBg {
  background-color: var(--bg-color);
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1h22v22H1z' fill='none' stroke='none'/%3E%3Ccircle cx='1' cy='1' r='1' fill='%231f1f1f'/%3E%3C/svg%3E");
  background-position: center;
}

.primaryButton {
  font-family: (var(--font-body));
  font-weight: 600;
  font-size: 1.125rem;
  background-color: white;
  color: black;
  padding-inline: 4rem;
  padding-block: 0.5rem;
  border-radius: 50px;
  transition: all 200ms ease;
}

.primaryButton:hover {
  background-color: #cacaca;
  transform: scale(1.03);
}
.primaryButton:active {
  transform: scale(0.95);
}
